<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="Beta" package="com.companyname.smart_currency_converter" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="29" />
	<application android:label="Smart_Currency_Converter.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>